# Created outside of project
.python-version
.DS_Store

# Created by vs code automated things
__pycache__
*.egg-info
.ipynb_checkpoints
.mypy_cache
.pytest_cache

# JP created files
.keys
U6T40/*
tests/data/*
.old_scripts
scripts/*.html
*.mp4

# VsCode config
.vscode

# pytest files
.coverage
htmlcov
docsrc/build

# Config
config.toml
.env

# Saved data
data_cache