black>=23.1
-e git+https://github.com/jmsplank/epoch-cheats.git@c7cdc276bdf50abe00a2ac7e8689469da3f79872#egg=epoch_cheats
flake8>=6.0
matplotlib>=3.7
mypy>=1.1
mypy-extensions>=1.0
numpy>=1.24
pandas>=1.5
-e git+https://github.com/jmsplank/phdhelper.git@fcb5b66a6a81f5ea506c3a4007951bb80da9ebbb#egg=phdhelper
pycodestyle>=2.10
pytest>=7.2
pytest-cov>=4.0
rich>=13.3
ruptures>=1.1
scipy>=1.10
sdf>=1
Sphinx>=6.1
sphinx-book-theme>=1.0
tqdm>=4.65